#content_header{
    .navbar{
        //padding: 50px 0;
        .nav-item{
            .codigo_envio{
                input{                                
                    border: 0;
                    border-radius: 50px;
                    padding: 15px 20px;
                    font-size: 12px;
                    color: #9F9F9F;
                    transition: 0.3s;
                    width: 0;
                    &.imput-fixed{
                        border: 2px solid $color_secundary;
                        width: 202px;
                    }
                }
                span{
                    background-color: #F67706;
                    padding: 15px;
                    top: 50%;
                    right: 0px;
                    transform: translate(0, -50%);
                    border-radius: 50px;                    
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    &.span-fixed{
                        padding: 15px 15px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }
                }
            }
        }
        .logo_dinet{
            left: 0;
            top: 0;
            padding: 30px 40px 35px 30px;
            background-color: #ffffff;
            box-shadow: 2px 2px 30px rgb(0 0 0 / 12%);
            border-bottom-right-radius: 75px;
            transition: .3s;
            &.logo_dinet_fixed{
                padding: 18px 0 18px 15px !important;
                border-bottom-right-radius: 0px !important;
                box-shadow: none !important;
            }
            img{
                width: 100%;
                max-width: 95px;
                transition: .3s;
                &.img-fixed{
                    max-width: 45px !important;
                }
            }
        }
        .collapse, .collapsing{
            .navbar-nav{
                .nav-item{
                    display: grid;
                    align-content: center;
                    margin: 0 15px;
                    padding: 6px 0;
                    &.hiden{
                        display: none;
                    }                 
                    /*&.boton{
                        border: 1px solid $color_secundary;
                        border-radius: 50px;
                        padding: 5px 30px;
                    }*/
                    /*&.b_boton{
                        background-color: $color_secundary;
                        margin-top: 15px;
                    }*/
                    a{
                        color: $color_primary;
                        font-weight: bold;
                        font-size: 14px;
                        &.boton_buscar_header{
                            border: 1px solid $color_secundary;
                            border-radius: 50px;
                            padding: 10px;
                            background-color: #ffffff;
                        }
                        &.dropdown-toggle{
                            &:after{
                                border: none !important;
                            }
                        }
                        span{
                            &.icon-drop{
                                bottom: -10px;
                                left: 50%;
                                transform: translate(-50%, 0);
                            }
                        }
                    }
                    .list-servicios-mobil {
                        display: grid;
                        a{
                            &.dropdown-toggle{
                                &::after{
                                    content: none;
                                }
                            }
                        }
                        span{
                            &.icon-drop{
                                display: grid;
                                justify-content: center;
                                i.flaticon-descargar{
                                    line-height: 0px;
                                    color: $color_secundary;
                                }
                            }
                        }
                    }
                    div{
                        &.dropdown-menu{
                            top: 60px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            border-radius: 10px;
                            box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
                            padding: 32px 22px;
                            border: none;
                            .content-dropdown{
                                display: grid;
                                grid-template-columns: repeat(5, 1fr);
                                padding: 0;
                                align-items: center;
                                li{
                                    &.list-ser{
                                        &:before{
                                            content: '';
                                            position: absolute;
                                            width: 1px;
                                            height: 20px;
                                            background-color: #C4C4C4;
                                            right: 0;
                                            top: 50%;
                                            transform: translate(0, -50%);
                                        }
                                    }
                                    a{
                                        display: flex;
                                        align-items: center;
                                        padding: .25rem 1.2rem;
                                        &:hover{
                                            background-color: initial;
                                            color: $color_secundary;
                                        }
                                        img{
                                            padding-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    /*&:hover{
                        .dropdown-menu{
                            display: block;
                        }
                    }*/
                }
            }
        }
    }
}