/*
COLORES
*/
$colortexto : #484848;
$color_primary : #0D2355;
$color_secundary : #F67706;

/*
Tamaño de letra
*/
$sizetextTitulo : 30px;

/*
Tipo de letra
*/
@font-face {
    font-family: 'OpenSans';
    src: url('../../public/static/OpenSans/OpenSans-Regular.ttf') format('truetype');
}