@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* secciones */
@import 'header';
@import 'footer';
@import 'nosotros';
@import 'servicios';
@import 'single-servicios';
@import 'acordion';
@import 'blog';
@import 'single-blog';

/*======================================*/
*{
    //font-family: $letraglobal !important;
    font-family: 'Open Sans', sans-serif;
    color: $colortexto;
}
p{    
    font-size: 0.9rem !important;
}

header{
    left: 0;
    top: 0;
    width: 100%;
}

img{
    display: block;
}

.text-white{
    color: #ffffff !important;
}

.text-center{
    text-align: center;
}

.bottom_section{
    padding-bottom: 60px;
    margin-bottom: 60px;
}

.paddingb_section{
    padding-bottom: 60px;
}

.marginb_section{
    margin-bottom: 60px;
}

.grid{
    display: grid;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}
.align-end{
    align-items: end;
}

.justify-center{
    justify-content: center;
}

a{
    text-decoration: none !important;
}

ul{
    margin: 0 !important;
    li{
        list-style: none;
    }
}
.border-der{
    border-right: 1px solid red;
}

header{
    .navbar{
        padding: 0;
        z-index: 50;
        .container-fluid{
            padding: 0;
            .codigo_mobil{
                display: none;
            }
            &.container-fluid-fixed{
                background-color: #ffffff !important;
                box-shadow: 2px 2px 30px rgb(0 0 0 / 12%);
            }
        }
        .navbar-collapse{
            padding-right: 20px;
        }
    }
}

/*====================*/
/* boton */
.b_boton{
    background-color: $color_secundary;
}
.btn_global{
    padding: 12px 40px;
    border-radius: 50px;
}
.btn_border{
    border: 2px solid $color_secundary;
}
.btn_color_text{
    text-decoration: none;
    color: $color_secundary;
    font-size: 15px;
    &:hover{
        color: $color_secundary;
    }
}
.content_boton{
    a{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        display: table;
        text-decoration: none;
        padding-left: 80px;
        padding-right: 80px;
        font-weight: bold;
    }
}

/*====================*/
/* titulo general */
.titulo{
    color: $color_primary;
    font-weight: bold !important;
    font-size: 38px;
}

/*====================*/
/* Titulo Global */
.titulo_global{
    b{
        display: block;
        text-align: center;
        color: $color_secundary;
        font-size: 14px;
    }
    h2{
        text-align: center;
        font-weight: bold;
        color: $color_primary;
        font-size: 38px;        
        margin-bottom: 35px;
    }
}

/*========================================*/
/*
    Section Banner Home
*/
#seccion_banner_global{
    overflow: hidden;
    video{
        z-index: -50;
        width: 100vw;
        height: 56.25vw;
        min-height: 100vh;
        min-width: 177.77vh;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
    }

    &.section_bannerHome{        
        //padding: 250px 50px 80px;
        /*background-image: url('/public/img/banner_home.png');
        background-size: cover;
        background-position: top;*/
        background-color: #ffffffbd;
        height: 100vh;        
        display: grid;
        align-items: center;
    }
    .navbar-toggler{
        &:focus{
            box-shadow: none;
        }
        i{
            color: $color_secundary;
        }
    }
    .content_banner{
        padding: 0 20px;
        p{
            font-size: 16px;
            color: $colortexto;
        }
        b{
            color: $color_secundary;
            font-size: 18px;
            font-weight: bold;
        }
        .content_input_search{            
            input{
                &.input_search{
                    height: 64px !important;
                    margin-top: 10px;
                    border: none;
                    border-radius: 50px;
                    width: 100%;
                    padding-left: 50px;
                    font-size: 14px;
                    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.12));
                }
            }
            span{
                top: 50%;
                left: 20px;
                transform: translate(0, -50%);
            }
            a{
                text-decoration: none;
                top: 50%;
                right: 15px;
                transform: translate(0, -50%);
                font-size: 16px;
                b{
                    color: #ffffff;
                }
                i{
                    display: none;
                }
            }
        }
        b, input{
            display: block;
        }
    }
}

/*========================================*/
/*
    Section Slider soluciones
*/
#seccion_slider_soluciones{
    .carousel_saluciones{
        .item{
            background: #ffffff;
            overflow: hidden;
            margin: 20px;
            border-radius: 10px;
            filter: drop-shadow(0px 2px 10px rgba(13, 35, 85, 0.2));
            .content_solucion{
                padding: 50px 25px 35px 25px;
                span{
                    background: $color_secundary;
                    padding: 15px;
                    border-radius: 50%;
                    top: -30px;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
                b{
                    color: $color_primary;
                    font-size: 18px;
                    font-weight: bold;
                    display: block;
                    padding-bottom: 8px;
                }
                p{
                    font-size: 13px;
                }
                a{
                    margin: auto;
                    display: table;
                    &:hover{
                        color: $color_secundary;
                    }
                }
            }
            &:hover{
                .content_solucion{
                    b{
                        color: $color_secundary;
                        transition: 0.4s;
                    }
                    a{
                        background-color: $color_secundary;
                        color: #ffffff;
                        transition: 0.4s;
                    }
                }
            }
        }
        button{
            &.owl-prev{
                left: -30px;
            }
            &.owl-next{
                right: -30px;
            }
            &.owl-prev, &.owl-next{                
                position: absolute;
                top: 80px;
                span {
                    font-size: 25px;
                    border: 1px solid $color_primary;
                    padding: 0 12px 5px;
                    border-radius: 50%;
                    color: $color_primary;
                    &:hover{
                        background: $color_primary;
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
}

/*========================================*/
/*
    Section Rastreo
*/
#section_rastreo{
    background-image: url('../../public/img/cinta.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 160px;
    .img_cinta{
        img{
            width: 100%;
        }
    }
    .info_rastreo{
        display: flex;
        flex-direction: column;
        justify-content: space-around; 
        .content_text_rastreo{
            text-align: right;
            //margin-bottom: 100px;
            h3{
                color: $color_primary;
                font-weight: bold;
                font-size: 38px;
                margin-bottom: 18px;            
                b{
                    color: $color_secundary;
                }
            }
            p{
                font-size: 18px;
                b{
                    color: $color_primary;
                }
            }
        }
        .img_apps{
            display: flex;
            justify-content: center;
            img{
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

/*========================================*/
/*
    Section Tutorial
*/
#section_tutoriales{
    .content_tutorial{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        img{
            margin: auto;
        }
        .caja_pregunta{
            padding: 30px 25px;  
            box-shadow: 0px 2px 40px rgba(13, 35, 85, 0.2);
            border-radius: 10px;
            display: grid;
            align-content: space-between;
            p{
                color: $color_primary;
                font-size: 14px;
                font-weight: bold;
                margin: 0;
            }
            a{
                border-top: 1px solid #cecece;
                padding-top: 10px;
                text-decoration: none;
                color: $color_secundary;
                font-size: 14px;
                font-weight: bold;
                span{
                    right: 0;
                    top: 50%;
                    transform: translate(0, -20%);
                }
            }
        }
    }
}

/*========================================*/
/*
    Section Datos
*/
#section_datos{
    background-image: url('../../public/img/fondo_mapa.png');
    background-color: #F4F4F4;
    padding-top: 50px;
    margin-bottom: 40px;
    .content_text_rastreo{
        h3{
            color: $color_primary;
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 50px;
            b{
                color: $color_secundary
            }
        }
        .datos{
            margin-bottom: 20px;
            img{
                padding-bottom: 20px;
            }
            b{
                color: $color_secundary;
                font-size: 40px;
            }
            p{
                color: $color_primary;
                font-size: 14px;
                font-weight: bold;
                margin: 0;
                line-height: 15px;
            }
        }
    }
    .img_dato{
        img{
            width: 100%;
        }
    }
}

/*========================================*/
/*
    Section Datos
*/
#section_noticias, #seccion_tabs, #section-pagination, #section_single_blog{
    .content_noticia{
        margin-top: 30px;
        img{
            width: 100%;
            filter: drop-shadow(0px 2px 40px rgba(0, 0, 0, 0.2));
        }
        .fecha{
            font-size: 12px;
            color: $color_primary;
            padding-top: 15px;
            margin-bottom: 5px;
        }
        p{
            font-size: 13px;
            line-height: 16px;
        }
        a{
            text-decoration: none;
            b{
                color: $color_primary;
                display: block;
                line-height: 20px;
                padding-bottom: 8px;
                &:hover{
                    color: $color_secundary;
                }
            }            
            span{
                display: grid;
                width: 45px;
                height: 45px;
                background-color: $color_secundary;
                align-items: center;
                justify-content: center;
                color: #ffffff;
                font-size: 20px;
                border-radius: 50%;
                margin-top: 8px;
            }
        }
    }
}


/*========================================*/
/*
    Section Clientes
*/
#section_clientes{
    .cliente{
        margin-top: 50px;
    }
}

#section_clientes{
    .carousel_clientes{
        .owl-stage{
            display: flex;
            align-items: center;
            justify-content: center;
            .item{
                margin-bottom: 25px;
                img{
                    width: auto !important;
                    margin: auto;
                }
            }
        }        
        button{
            &.owl-prev{
                left: -30px;
            }
            &.owl-next{
                right: -30px;
            }
            &.owl-prev, &.owl-next{                
                position: absolute;
                top: 0px;
                span {
                    font-size: 25px;
                    border: 1px solid $color_primary;
                    padding: 0 12px 5px;
                    border-radius: 50%;
                    color: $color_primary;
                    &:hover{
                        background: $color_primary;
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
}

/*========================================*/
/*
    Section Store
*/
#section_darkstore{
    .man-dinet{
        padding: 30px;
        img{
            width: 100%;
        }
    }
    .content_store{
        h3{
            font-size: 30px;
            color: $color_primary;
            font-weight: bold;
            b{
                color: $color_secundary;
            }
        }
        p{
            padding-top: 8px;
            font-size: 18px;
        }
        .caja_botones{
            padding-top: 8px;
            a{
                margin-right: 18px;
            }
        }
    }
}

/*========================================*/
/*
    Pagina Contacto
*/
#form_servicio{
    .img_contacto{
        margin-bottom: 40px;
        img{
            margin: auto;
            display: block;
        }
    }
}


/*========================================*/
/*
    Pagina Contacto
*/
#form_servicio{
    .btn_archivo{
        border: 1.5px solid #ABABAB;
        padding: 32px 0;
        display: grid;
        justify-content: center;
    }
}


/*========================================*/
/*
    Responsive
*/
@media (min-width: 1400px){
    #section_rastreo{
        .img_apps{
            margin-top: 25px;
        }
    }
}
@media (max-width: 1200px){

    #section_rastreo {
        .info_rastreo {
            .content_text_rastreo {
                margin-bottom: 60px;
            }
        }
    }

    footer{
        .pie{
            .developer{
                justify-content: end;
            }
        }
    }
}

@media (max-width: 990px){
    .container {
        padding: 0 25px !important;
    }
    header{
        nav{
            background-color: #ffffffc7;
            .container-fluid{
                .codigo_mobil{
                    display: block !important;
                }
                .logo_dinet{
                    box-shadow: none !important;
                    padding: 30px !important;
                    border-bottom-right-radius: 0px !important;
                    background-color: initial !important;
                    img{
                        max-width: 50px !important;
                    }
                }
                
                .nav-item{
                    a{
                        span{
                            &.icon-drop{
                                bottom: 0 !important;
                                top: 50%;
                                left: initial !important;
                                right: 0;
                                transform: translate(0px, -50%) !important;
                            }
                        }
                    }
                    .codigo_envio{
                        margin-bottom: 0 !important;
                        &.no-mobil{
                            display: none;
                        }
                        input{                                
                            border: 2px solid $color_secundary !important;
                            width: 100% !important;
                        }
                    }
                    div{
                        &.dropdown-menu{
                            top: initial !important;
                            left: initial !important;
                            transform: none !important;
                            border-radius: 10px;
                            box-shadow: none !important;
                            padding: 12px 5px !important;
                            border: 1px solid #C4C4C4 !important;
                            .content-dropdown{
                                display: block !important;
                                grid-template-columns: none !important;
                                padding: initial !important;
                                li{
                                    padding-bottom: 8px;
                                    margin-bottom: 10px;
                                    &.list-ser{
                                        &:before{
                                            width: 0 !important;
                                            height: 0 !important;
                                        }
                                    }
                                    a{
                                        display: flex;
                                        align-items: center;
                                        padding: .25rem 1.2rem;
                                        &:hover{
                                            background-color: initial;
                                        }
                                        img{
                                            padding-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                button{
                    padding-right: 30px !important;
                }
                .navbar-collapse{
                    padding-left: 20px;
                    padding-bottom: 30px;
                    .navbar-nav{
                        li{
                            .boton_buscar_header{
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
        }
    }

    #section_tutoriales{
        .content_tutorial{
            justify-content: space-around !important;
        }
    }

    #section_rastreo {
        .info_rastreo {
            .content_text_rastreo {
                text-align: center;
            }
        }
    }
    
    #section_datos{
        padding-bottom: 40px;
        margin-bottom: 40px;
        .img_dato{
            img{
                display: none;
            }
        }
    }

    footer{        
        .logo_blanco{
            border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            padding-bottom: 20px;
            margin-bottom: 20px;
            img{
                margin: auto;
                display: table;
            }
        }
        .info_footer{
            margin-bottom: 30px;
        }
    }
}

@media (max-width: 765px){
    .no_mobil{
        display: none !important;
    }
    footer {
        .menu_footer, .opciones_footer {
            ul{
                padding: 0;
            }
        }
    }
}

@media (max-width: 736px){
    footer {
        .pie{
            .copyright{
                text-align: center;
                margin-bottom: 10px;
            }
            .developer{
                justify-content: center;
            }
        }
    }
}

@media (max-width: 600px){
    #seccion_slider_soluciones, #section_clientes{
        .carousel_saluciones, .carousel_clientes{    
            .owl-nav{
                display: flex;
                justify-content: center;
                button{
                    margin-right: 15px;
                    margin-top: 20px;
                    &.owl-prev{
                        left: 0;
                    }
                    &.owl-next{
                        right: 0;
                    }
                    &.owl-prev, &.owl-next{                
                        position: initial;
                        top: 0;
                    }
                }
            }    
        }
    }
}

@media (max-width: 590px){
    #section_tutoriales{
        .content_tutorial{
            flex-flow: wrap;
        }
    }
}

@media (max-width: 575px){
    #section_datos{
        padding-bottom: 40px;
        margin-bottom: 40px;        
        .content_text_rastreo{
            h3{
                text-align: center;
            }
            .datos{
                display: grid;
                justify-content: center;
                text-align: center;
                margin-bottom: 68px;
                img{
                    padding-bottom: 20px;
                    margin: auto;
                }
            }
        }
        .img_dato{
            img{
                display: none;
            }
        }
    }
}

@media (max-width: 520px){
    #section_rastreo{
        background-size: cover;
        border-radius: 10px;
        .img_cinta{
            display: none;
        }
        .info_rastreo{
            .content_text_rastreo{
                padding-top: 40px;
                margin-bottom: 10px;
                h3{
                    color: #ffffff;
                }
                p{
                    display: none;
                }
            }
            .img_apps{
                display: block !important;
                justify-content: initial !important;
                margin: auto;
                img{
                    margin-bottom: 12px;
                }
            }
        }
    }
}

@media (max-width: 480px){
    
    .section_bannerHome{
        .content_banner{
            p{
                display: none;
            }
            .content_input_search{
                input{
                    padding-left: 20px !important;
                }
                span{
                    display: none;
                }
                a{
                    &.btn_global{
                        padding: 12px 20px;
                    }
                    b{
                        color: #ffffff !important;
                        display: none !important;
                    }
                    i{
                        display: block !important;
                        color: #ffffff !important;
                    }
                }
            }
        }
    }
    #section_darkstore{
        .man-dinet{
            padding: 50px;
        }
        .content_store{
            .caja_botones{
                padding-top: 8px;
                a{
                    width: 100%;
                    display: block;
                    margin-right: 18px;
                    margin-bottom: 15px;
                }
            }
        }
    }

}

@media (max-width: 400px){    
    header{ 
        nav{
            background-color: #ffffffc7;
            .container-fluid{
                .logo_dinet{
                    padding: 30px 0 30px 10px!important;
                }
                button{
                    padding-right: 10px !important;
                }
            }
        }
    }
}

@media (max-width: 305px){
    header{
        nav{
            .navbar-nav{
                .nav-item{
                    .codigo_envio{
                        input{
                            padding: 8px 10px !important;
                        }
                        span{
                            padding: 8px !important;
                        }
                    }
                }
            }
        }
    }
    .logo_dinet{
        img{
            &.img-fixed{
                max-width: 45px !important;
            }
        }
    }
}
